<%= link_to gravatar_for(current_user, size: 20), current_user %>
<h1><%= current_user.fullname %></h1>
<span><%= link_to "view my profile", current_user %></span>
<span><%= pluralize(current_user.requests.count, "contact") %></span>
