
<!---->
<div class="container">
  <div class="contact">
    <div class=" contact-top">
      <h3>Want to work with me?</h3>
      <div>
        <span>Your Name </span>
        <input type="text" value="" >
      </div>
      <div>
        <span>Your Email </span>
        <input type="text" value="" >
      </div>
      <div>
        <span>Subject</span>
        <input type="text" value="" >
      </div>
      <div>
        <span>Your Message</span>
        <textarea> </textarea>
      </div>
      <input type="submit" value="SEND" >
    </div>
  </div>
</div>
